.shortmenuoff .close-menu {
    display: block !important;
    visibility: visible !important;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 15px 0;
    opacity: 1;
    filter: alpha(opacity=100);
    color: black;
}

.shortmenuoff .close-menu i {
    font-size: 24px;
}

.shortmenuoff .close-menu:hover {
    cursor: pointer;
    color: black;
}

.shortmenuoff .block {
    border-bottom: 1px solid white;
    padding: 20px;
}

.shortmenuoff .block .block-content::before,
.shortmenuoff .block .block-content::after {
    content: " ";
    display: table;
}

.shortmenuoff .block .block-content:after {
    clear: both;
}

.shortmenuoff .gva-navigation .gva-menu {
    padding: 10px 0 0;
    width: 100% !important;
    background: none !important;
}

.shortmenuoff .gva-navigation .gva-menu>li {
    display: block;
    clear: both;
    width: 100%;
    margin-bottom: 8px !important;
    padding-bottom: 8px !important;
    padding-top: 2px !important;
    border-bottom: 1px solid white;
}

.shortmenuoff .gva-navigation .gva-menu>li:last-child {
    border-bottom: none;
}

.shortmenuoff .gva-navigation .gva-menu>li:after,
.shortmenuoff .gva-navigation .gva-menu>li:before {
    content: none;
    display: none;
}

.shortmenuoff .gva-navigation .gva-menu>li>a {
    display: block;
    width: 100%;
    line-height: 32px;
    font-size: 15.5px;
    padding: 0 !important;
    font-weight: 600;
    text-transform: capitalize;
    color: black;
}

.shortmenuoff .gva-navigation .gva-menu>li>a:after,
.shortmenuoff .gva-navigation .gva-menu>li>a:before {
    content: none;
    display: none;
}

.shortmenuoff .gva-navigation .gva-menu>li>a:hover {
    color: black !important;
    background-color: none !important;
}

.shortmenuoff .gva-navigation .gva-menu>li.menu-item--active-trail>a {
    color: black !important;
}

.shortmenuoff .gva-navigation .gva-menu li a {
    position: relative;
    display: block;
}

.shortmenuoff .gva-navigation .gva-menu li a {
    color: black;
}

.menu-bar.show-view span.two {
    opacity: 0;
    filter: alpha(opacity=0);
}

.menu-bar.show-view span.one,
.menu-bar.show-view span.three {
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(45eg);
    transform: rotate(45eg);
}

.menu-bar.show-view span.three {
    -webkit-transform: rotate(-45eg);
    transform: rotate(-45eg);
}

.rooterdisplay {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none !important;
    display: block;
}

.rooterdisplay2 {
    font-size: 18px;
    margin-top: 23px;
    margin-left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
    display: inline-block;
}

@media (min-width: 550px) {
    .minsize {
        display: block !important;
    }
}

@media (max-width: 708px) {
    .maxsize {
        display: none !important;
    }
}

.moverouters {
    text-align: end;
    width: 65%;
}

.arrowsize {
    font-size: 20px;
}